name: CI/CD

# avoid running on changes to chart/k8s/README so commits to helm won't retrigger
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'helm/**'
      - 'k8s/**'
      - 'README.md'

# allow workflow to push changes using GITHUB_TOKEN
permissions:
  contents: write   # needed to push commits
  id-token: write
  packages: write

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/go-web-app

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set-tag.outputs.image_tag }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go 1.22
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Build
        run: go build -o go-web-app

      - name: Test
        run: go test ./...

      - name: Set image tag (short sha + run number)
        id: set-tag
        run: |
          # Use short sha to tag image and make it human friendly
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          IMAGE_TAG="${GITHUB_RUN_NUMBER}-${SHORT_SHA}"
          echo "image_tag=${IMAGE_TAG}" >> "$GITHUB_OUTPUT"

  code-quality:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go 1.22
        uses
